apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: k8splugin
  name: csi-xfshostpath-attacher
---
kind: Service
apiVersion: v1
metadata:
  name: csi-xfshostpath-attacher
  namespace: k8splugin
  labels:
    app: csi-xfshostpath-attacher
spec:
  selector:
    app: csi-xfshostpath-attacher
  ports:
    - name: dummy
      port: 12345

---
kind: StatefulSet
apiVersion: apps/v1beta1
metadata:
  name: csi-xfshostpath-attacher
  namespace: k8splugin
spec:
  serviceName: "csi-xfshostpath-attacher"
  replicas: 3
  podManagementPolicy: "Parallel"
  template:
    metadata:
      labels:
        app: csi-xfshostpath-attacher
    spec: 
      serviceAccountName: csi-xfshostpath-attacher
      nodeSelector:
        "node-role.kubernetes.io/hostpath": "true"
      containers:
        - name: attacher
          image: ihub.helium.io:29006/library/csi-attacher:v1.0.1
          resources:
             limits:
               cpu: 100m
               memory: 100Mi
             requests:
               cpu: 100m
               memory: 100Mi
          args:
            - "--v=5"
            - "--csi-address=$(ADDRESS)"
          env:
            - name: ADDRESS
              value: /var/lib/kubelet/plugins/xfshostpathplugin/csi.sock
          imagePullPolicy: "Always"
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/kubelet/plugins/xfshostpathplugin
      volumes:
        - name: socket-dir
          hostPath:
            path: /var/lib/kubelet/plugins/xfshostpathplugin
            type: DirectoryOrCreate
